/*********************
GENERAL
*********************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

p {
    margin: 1em auto;
}

/*********************
KNOCKOUT
*********************/

#knockout {
    height: 35%;
}

/*********************
SEARCH BOX
*********************/

#search {
    height: 10%;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 0 0 0 30px;
    margin-top: 10px;
}

/*********************
LIST
*********************/

#list {
    height: 50%;
    margin: 0 auto;
}

/*********************
MAP TITLE
*********************/
#map-title {
    height: 10%;
    margin: 0 auto;
}

/*********************
MAP
*********************/

#map {
    height: 65%;
    width: 100%;
    background-color: grey;
}

