/*********************
GENERAL
*********************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*********************
MAP
*********************/

#map {
    height: 90%;
    width: 100%;
    background-color: grey;
}

/*********************
LIST
*********************/

ul {
    height: 10%;
}

