@media screen and (min-width: 650px) {

    html, body {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    #knockout {
        height: 30%;
    }

    #map {
        height: 70%;
    }

}

@media screen and (min-width: 1024px) {

    h3 {
        margin-bottom: 60px;
    }

    #knockout {
        height: 40%;
    }

    #map {
        height: 60%;
    }

}

