@media screen and (min-width: 500px) {

  li {
    width: auto;
  }

  #list {
    list-style-position: inside;
    padding-right: 40px;
  }

}

@media screen and (min-width: 650px) {

    html, body {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    /*li {
      width: auto;
    }*/

    #knockout {
        /*height: 28%;*/
    }

    #map {
        /*height: 70%;*/
    }

}

@media screen and (min-width: 1024px) {

    h3 {
        margin-bottom: 60px;
    }

    /*#knockout {
        height: 29%;
    }

    #map {
        height: 70%;
    }*/

}
